#id_new_item {
    margin-top: 2ex;
}

.id_table {
	text-align: center;
}

.wrapper {
    display:flex;
    align-items:center;
    width:400px;
    height:400px;
    background:#eee;
}

#id_item {
    margin-top: 500ex;
}

