<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>erpambudi To-Do lists</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/base.css" rel="stylesheet">

    <style>
        .id_item_center {
            text-align: center;
            align-items: center;
        }

        .table1 {
            font-family: sans-serif;
            color: #444;
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #f2f5f7;
        }
 
        .table1 tr th{
            background: #35A9DB;
            color: #fff;
            font-weight: normal;
        }
        
        .table1, th, td {
            padding: 8px 20px;
            text-align: center;
        }
        
        .table1 tr:hover {
            background-color: #f5f5f5;
        }
        
        .table1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .comment{
            padding: 8px 20px;
            text-align: left;
            justify-content: left;
            background-color: #f2f2f2;
        }
        
    </style>

</head>

    <body>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="#">erpamweb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Profile</a>
                <a class="nav-item nav-link" href="#">Contact</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
              </div>
            </div>
          </nav>

    ​   <div class="container">
            <h2>Website Django erpambudi</h2>
            <hr width="100%" color="#3a3634" size="2">

        <div class=" wrapper row jumbotron">
            <p> Hallo nama saya Rizki Pambudi, saya lahir di Cilacap. saya anak kedua dari tiga bersaudara. saat ini saya sedang menempuh pendidikan di Institut Teknologi Telkom Purwokerto dan mengambil jurusan S1 - Software  Engineering. saat ini saya sudah di Semester 6.
            Saya sangat tertarik dalam hal tekhnologi. khususnya yang berkaitan luar angkasa. selain itu saya juga menyukai bermain game, khususnya game RPG Open World.
            Cita - Cita saya saat ini adalah ingin menjadi seorang developer. dan bisa membahagiakan kedua orang tua saya.
            </p>
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-3">
            <h1 class="text-center">My To-Do list</h1>
            <table id="id_todo_table" class="table1">
                <tr>
                    <th>Tugas Semester Ini</th>
                </tr>
                <tr>
                    <td>1: Tugas Pemrograman Web Perangkat Bergerak</td>
                </tr>
                <tr>
                    <td>2: Tugas Pemrograman Mobile Lanjut</td>
                </tr>
                <tr>
                    <td>3: Tugas Metode AGILE</td>
                </tr>
                <tr>
                    <td>4: Tugas Metode Penelitian</td>
                </tr>
                <tr>
                    <td>5: Tugas Komputer dan Masyarakat</td>
                </tr>
                <tr>
                    <td>6: Tugas Technopreneurship</td>
                </tr>
            </table>
         </div>
        </div>
            
            <div class="row">
                ​<div class="col-md-6 col-md-offset-3">
                    <h3  style="margin-top: 30px;" class="text-center mr-5">Komentar</h3>
                    <table id="id_list_table" class="comment">
                        {% for item in items %}
                        <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
                        {% endfor %}
                    </table>
        ​        </div>
        ​    </div>

                <div class="row">
                    ​<div class="col-md-12 col-md-offset-3 jumbotron">
                        <div id="id_item_center">
                            <form method="POST">
                                <input name="item_text" id="id_new_item" class="form-control input-lg" 
                                placeholder="Enter a to-do item" />
                                {% csrf_token %}
                            </form>
                        </div>
        ​           </div>
    ​            </div>
        </div>
        <hr width="100%" color="#3a3634" size="2">
        <p class="text-center">Copyright 2020 </p>
    </body>
</html>
